version: 0.1.{build}
image: Visual Studio 2017
configuration: Release
platform: Any CPU
install:
- git submodule update --init --recursive
- cmd: >-
    dotnet restore
build_script:
- cmd: msbuild DSerfozo.RpcBindings.sln /t:Build;Pack /p:Configuration=Release /p:BuildNumber=%APPVEYOR_BUILD_NUMBER% /p:ProjectOutputPath=%cd%\dist
test_script:
- cmd: '%xunit20%\xunit.console.x86 tests\DSerfozo.RpcBindings.Tests\bin\Release\net461\DSerfozo.RpcBindings.Tests.dll'  
artifacts:
- path: src\DSerfozo.RpcBindings\bin\Release\DSerfozo.RpcBindings*.nupkg
deploy:
- provider: NuGet
  server: https://www.myget.org/F/dserfozo/api/v2/package
  api_key:
    secure: ibHoIgBca+Soq6sDbpcf0KDmNKqBccbvVMTcxSvc3GogObcrWsgkXhQrIo/1lV2o
  skip_symbols: true